#Convert{
    background-color: #1da1f2;
}
label{
    margin: 0 50px;
}
#tienloai1{
    margin: 0 30px;
    width: 100px;
}
#tienloai2{
    margin: 0 75px;
    width: 100px;
}
#Convert{
    margin-left: 20px;

}